body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    padding: 5px;    margin-left: auto;
    margin-right: auto;
    width: 30em; 
    text-align: center;
}


.hlist { display: flex; }
.hlist li { 
    list-style-type: none; 
    padding: 5px
}


